@model CRUD_App_Project.Models.Employee

@{
    ViewBag.Title = "Update";
}

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Update Employee Information</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Date of joining</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DOJ, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOJ, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Mobile no.</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Salary Amount</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Salary.SalaryAmount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Salary.SalaryAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Department Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Department.DeptName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Department.DeptName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<!--</form>-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}